
.show-section{
	padding-top: 15px;
  padding-bottom: 90px;
  background-color: #ffffff;
  display: table;
  width: 100%;
}

.serie-produit {
  font-style: normal;
  line-height: 1.6;
font-family: 'Raleway', sans-serif;
  font-size: 3rem;


}

img {
	width: 100%;
}

.col-md-6 .text{
	margin-left: 499px;

}

.container{
	margin-top: 80px;
}